# Copie ce fichier et renomme-le en .env.local
# Puis remplace chaque valeur par celles de ton projet Firebase

VITE_FIREBASE_API_KEY=colle_ta_valeur_ici
VITE_FIREBASE_AUTH_DOMAIN=colle_ta_valeur_ici
VITE_FIREBASE_PROJECT_ID=colle_ta_valeur_ici
VITE_FIREBASE_STORAGE_BUCKET=colle_ta_valeur_ici
VITE_FIREBASE_MESSAGING_SENDER_ID=colle_ta_valeur_ici
VITE_FIREBASE_APP_ID=colle_ta_valeur_ici
